@tailwind base;
@tailwind components;
@tailwind utilities;

.hover {
    --c: #1095c1; /* the color */
    
    color: #0000;
    background: 
      linear-gradient(90deg,#fff 50%,var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
  .hover:hover {
    --_p: 100%
  }

input {
  overflow-wrap: break-word;
}